<!DOCTYPE html>
<html>
<head>
    <title>Twig | RookDeveloper</title>

    <link rel="stylesheet" href="/assets/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link href="/assets/css/styles.css" rel="stylesheet">
    <link href="/assets/css/themes/default/style.min.css" rel="stylesheet">
    <link href="/assets/css/jquery.contextMenu.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/plugins/jquery-ui/themes/base/jquery-ui.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/files/site/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/files/site/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/files/site/favicon-16x16.png">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
</head>
<body>

{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">АКОД</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for item in menu %}
                {% if item.url == url.0 %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/{{item.url}}">{{item.name}} <span class="sr-only">(current)</span></a>
                    </li>
                {% else  %}
                    <li class="nav-item">
                        <a class="nav-link" href="/{{item.url}}">{{item.name}} <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
{% endblock %}

{% include('modals.html') %}

<div class="container-fluid">

    {% block body %}
    {% endblock %}

</div>

<div id="footer">
    {% block footer %}
    {% endblock %}
</div>



<script src="/assets/plugins/jquery/dist/jquery.min.js"></script>
<script src="/assets/js/jstree.min.js"></script>
<script src="/assets/js/jquery.ui.position.min.js"></script>
<script src="/assets/js/jquery.contextMenu.min.js"></script>
<script src="/assets/plugins/popper.js/dist/umd/popper.min.js"></script>
<script src="/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/js/approve.min.js"></script>
<script src="/scripts"></script>
<script src="/assets/js/index.js"></script>

</body>
</html>